/* ====================== Colors ====================== */

$primary:#0055FF;
$background: rgb(71, 71, 71);
$darkBlue: #0D1A33;
$white: #f2f2f2;
$sweetBlue: #4b5a75;

/* ====================== General =======================*/

.drag {
  -webkit-app-region: drag !important;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}


/* ====================== Typography ====================== */
$main:    'Roboto', sans-serif;
$secondary: 'Playfair Display', sans-serif;

h1 {
  font-family: $main;
}

h2 {
  font-family: $main;
}

h3 {
  font-family: $main;
}

h4 {
  font-family: $main;
  font-size: 1.8rem;
  color: $primary;
}

h5 {

}

h6 {

}

p {

}

a {
  color: $primary;
}


/* ====================== Buttons ====================== */

.main-btn {
  max-width: 100px;
  background-color: black;
  color: white;
  border: none;
  &:hover {
    background: $primary;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
  }
}
